@tailwind base;
@tailwind components;
@tailwind utilities;


/* The scrollbar track */
::-webkit-scrollbar {
  width: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #dd7800;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #357ABD;
}